.index{
    width: 100%;
    height: 100%;
    color: green;
    .scroll{
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: gray;
        .content{
            width: 260px;
            min-height: 1600px;
            background: green;
            list-style: none;
            margin: 0px;
            padding: 0px;
            color: white;
            li:nth-child(1){
                width: 100%;
                height: 400px;
                background: red;
            }
            li:nth-child(2){
                width: 100%;
                height: 400px;
                background: blue;
            }
            li:nth-child(3){
                width: 100%;
                height: 400px;
                background: orange;
            }
            li:nth-child(4){
                width: 100%;
                height: 400px;
                background: pink;
            }
        }
    }
}